<div class="container">
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="d-flex justify-content-md-center align-items-center h-100">
                <div class="card text-center shadow-lg">
                   <i class="bi-geo-alt card-img-top  display-3"></i>
                   <div class="card-body">
                       <H5 class="card-title">City</H5>
                       <a href="/City/index" class="btn btn-dark btn-outline-light">Manage City</a>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-md-center align-items-center h-100">
                <div class="card text-center shadow-lg">
                   <i class="bi-book card-img-top  display-3"></i>
                   <div class="card-body">
                       <H5 class="card-title">Eductaion Level</H5>
                       <a href="/EducationLevel/index" class="btn btn-dark btn-outline-light">Manage Edu Lvl</a>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-md-center align-items-center h-100">
                <div class="card text-center shadow-lg">
                   <i class="bi-building card-img-top  display-3"></i>
                   <div class="card-body">
                       <H5 class="card-title">Company</H5>
                       <a href="/Admin/Companies" class="btn btn-dark btn-outline-light">Manage Company</a>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex justify-content-md-center align-items-center h-100">
                <div class="card text-center shadow-lg">
                   <i class="bi-person-circle card-img-top  display-3"></i>
                   <div class="card-body">
                       <H5 class="card-title">Job Seeker</H5>
                       <a href="/Admin/JobSeekers" class="btn btn-dark btn-outline-light">Manage Job Seekers</a>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-md-center align-items-center h-100">
                <div class="card text-center shadow-lg">
                   <i class="bi-bricks card-img-top  display-3"></i>
                   <div class="card-body">
                       <H5 class="card-title">Job</H5>
                       <a href="/Job/index" class="btn btn-dark btn-outline-light">Manage Posted Job</a>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>