@model Credential
@{
    ViewData["Title"] = "Create";
}
<h1 class="text-lg-center">Credentials Page @ViewBag.MyId</h1>
<div class="container bg-light w-75 shadow-lg ">
   <br>
<form action="/Credential/create" enctype="multipart/form-data" method="post">
    <div class="form-group row">
        <div class="form-group col-md-6">
            <label asp-for="Field"></label>
            <input type="hidden" name="JSID" value="@ViewBag.MyId">
            <input asp-for="Field" class="form-control "  placeholder="Field">
            <span asp-validation-for="Field" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="CGPA"></label>
            <input asp-for="CGPA" class="form-control " placeholder="CGPA">
            <span asp-validation-for="CGPA" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="form-group col-md-6">
            <label asp-for="Experience"></label>
            <input asp-for="Experience" class="form-control "  placeholder="Experience">
            <span asp-validation-for="Experience" class="text-danger"></span>
        </div>
          <div class="form-group col-md-6">
            <label asp-for="Skills"></label>
            <input asp-for="Skills" class="form-control "  placeholder="Skills">
            <span asp-validation-for="Skills" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="form-group col-md-4">
            <label for="Image">Profile Image</label>
            <input type="file" name="pdf" accept="application/pdf" id="pdfinput" class="form-control-file">
        </div>
        <div class="form-group col-md-4">
           
            <label asp-for="EducationLevelId"></label>
            <select data-live-search="true" asp-for="EducationLevelId" class="form-control selecy " asp-items="@ViewBag.EduLvl">
            </select>

        </div>
    </div>
    
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn-lg  btn-dark btn-outline-light col-md-3">Sign Up</button>
    @*<a class="btn btn-dark btn-outline-danger col-md-3" href="/Job/index">Cancel</a>*@
    </div>
    
</form>
<br/>
</div>
