@model JobSeeker
@{
    ViewData["Title"] = "Delete";
}
<h2>Remove JobSeeker</h2>
<form action="/JobSeeker/delete/@Model.Id" method="post">
    <table class="table">
        <tr class="bg-light">
            <td class="">
                <label for="JobSeekerName">JobSeeker Name</label>
            </td>
            <td>
                <input type="hidden" name="Id" value="@Model.Id" />
                <p>@Model.FirstName @Model.LastName</p> 
            </td>
        </tr>
    </table>

    <div>Are you sure to delete this City?</div>
    <button type="submit" class="btn btn-dark btn-outline-danger">Remove</button>
    <a class="btn btn-dark btn-outline-warning" href="/Admin/index">Cancel</a>
</form>
