<div class="container">
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex justify-content-md-center align-items-center h-100">
                <div class="card text-center shadow-lg ">
                   <img src="~/handsome-young-businessman-suit.jpg" height="300" class="card-img-top">
                   <div class="card-body">
                       <H5 class="card-title">Job Seeker</H5>
                       <p>Sign up now to explore the different types of jobs</p>
                       <a href="/JobSeeker/Create" class="btn btn-dark btn-outline-light">Sign Up</a>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-md-center align-items-center h-100">
                <div class="card text-center shadow-lg ">
                   <img src="~/perspective-logo-modern-large-building-signboard-mockup_165789-312.jpg" height="300" class="card-img-top">
                   <div class="card-body">
                       <H5 class="card-title">Company</H5>
                       <p>Sign up now to meet and potentially hire talented Job seekers</p>
                       <a href="/Company/Create" class="btn btn-dark btn-outline-light">Sign Up</a>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>